.selected {
  background-color: rgb(247, 236, 140);
}
.nonSelected {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: 700;
}

li{
  list-style-type: none;
}

textarea {
  resize: none;
}

.card {
  width: 100%;
  margin: 0 auto;

  &_pcard {
    display: block;
    height: 100%;

    &-btn {
      margin-right: 1rem;
    }

    &_splitter {
      display: block;
      height: 100%;
      margin-top: 1rem;

      &-left {
        display: block;
      }

      &-right {
      }
    }
  }
}

@media all and (max-width: 514px) {
  #btn-save {
    margin-bottom: 5%;
  }
}
